.signSelect {
  margin-top: 200px;
  margin-left: 25%;
}
.signSelect .wrap {
  margin-left: 20px;
}
.signSelect a.thumbnail {
  padding: 50px;
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.signSelect a.thumbnail:hover {
  border: 1px solid #337ab7;
}
